/* COLORS */

// TTT GREENS
//background: #d5f2dd;
//border-bottom-color: #5fcf80;

// $strong_red: #e0414c;
// $soft_red: #e45b65;
// $soft_gray: #f9f9f9;

// $primary_orange: #e36a26;
// $primary_red: #ed3631;

// $primary_blue: #5077b9;
// $secondary_blue: #6e9ce4;
// $tertiary_blue: #6caae3;

// $primary_gray: #f3f6f3;

// //$kosmo: #969696
// $kosmo: #ef9945;
// $kosmo_light: #f2b475;
// //$kosmo_dark: #e3994f
// $kosmo_dark: #e38c4f;

// $soviet: #e36a26;
// $soviet_light: #e67829;
// $soviet_dark: #d36127;

// $melon: #f8b383;

// $steel: #d8d8d7;
// $cloudy: #f8f8f8;

// $sky: #3c5496;

// $coco: #fff;
// $void: #000;
$orange: orange;
$gray: #ccc;
$dark: #333;
