@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/FoundersGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/FoundersGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-stack: "Founders Grotesk", Helvetica, sans-serif;
$font-stack2: "Avenir Next LT Pro", Helvetica, sans-serif;
