@import "../styles/colors.scss";
@import "../styles/breakpoints.scss";
@import "./fonts.scss";

.container {
  padding: 40px 80px;
  display: flex;
  gap: 0 40px;
  justify-content: space-between;
  // align-items: center;

  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 40px 0;
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    padding: 20px;
    gap: 20px 0;
  }
}

.title {
  font-size: 60px;
  max-width: 600px;
  margin-bottom: 25px;
  font-family: $font-stack;

  em {
    color: $orange;
    font-style: normal;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 40px;
  }
}

.snowboarder {
  width: 200px;
  max-width: 100%;
}

.intro {
  width: calc(60% - 20px);
  p {
    line-height: 150%;
    font-size: 20px;
    max-width: 400px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    font-size: 18px;
  }
}

.links {
  font-family: $font-stack;
  width: calc(40% - 20px);

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}
