@import "../styles/colors.scss";
@import "../styles/breakpoints.scss";

.container {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  @media screen and (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.title {
  font-size: 60px;
  max-width: 600px;
  margin-bottom: 25px;

  em {
    color: $orange;
    font-style: normal;
  }
}

.snowboarder {
  width: 200px;
  max-width: 100%;
}

.intro {
  @media screen and (min-width: $breakpoint-mobile) {
    width: 50%;
  }
}

.links {
  @media screen and (min-width: $breakpoint-mobile) {
    width: 40%;
  }
}
