@import "../styles/colors.scss";

.container {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 60px;
  max-width: 600px;
  margin-bottom: 25px;

  em {
    color: $orange;
    font-style: normal;
  }
}

.snowboarder {
  width: 200px;
  max-width: 100%;
}

.intro {
  width: 60%;
}

.links {
  width: 30%;
}
